:root {
  --dark-header: #111111;
  --dark-background: #121214;
  --dark-background-1: #292929;
  --light-background: #e9e9ea;
  --text-in-dark: #f9f9f9;
  --text-in-dark-1: #F7F7F7;
  --text-in-light: #0f1111;
  --text-in-dark-accent: #e9dfcd;
  --text-in-light-accent: #575b5e;
  --text-gray: #C2C2C2;
  --dark-hover: #333333;
  --dark-hover-1: #444444;
  --button-primary: #0bc4e2;
  --button-primary-hover: #2597c8;
  --button-secondary: #c28f2c;
  --hover-border: #00a0ba;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow: auto;
}

.tab {
  margin-left: 40px;
}

.bg-dark-header {
  background-color: var(--dark-header);
  color: var(--text-in-dark);
}

.bg-dark {
  background-color: var(--dark-background);
  color: var(--text-in-dark);
}

.bg-light {
  background-color: var(--light-background);
  color: var(--text-in-light);
}

.bg-dark.text-accent {
  color: var(--text-in-dark-accent);
}

.bg-light.text-accent {
  color: var(--text-in-light-accent);
}

#main-nav {
  height: 80px;
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav-check-box,
#main-nav .check-button {
  display: none;
}

#main-nav-label {
  font-weight: 1000;
  line-height: 1em;
  text-transform: uppercase;
  margin-left: 36px;
}

#main-nav ul {
  list-style: none;
  margin-right: 64px;
}

#main-nav ul li {
  position: relative;
  float: left;
}

#main-nav > ul > li {
  height: 80px;
  display: flex;
  align-items: center;
}

#main-nav ul li:hover {
  cursor: pointer;
  background-color: var(--dark-hover);
}

#main-nav ul li a {
  height: 32px;
  padding: 0 16px;
  color: var(--text-in-dark);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#main-nav .more-nav-link {
  display: none;
  align-items: center;
}

#main-nav .more-nav-link:hover {
  background-color: var(--dark-hover);
}

#main-nav .more-nav-link:hover > ul {
  display: initial;
}

#main-nav .more-nav-link ul {
  background-color: var(--dark-background-1);
  position: absolute;
  top: 80px;
  display: none;
}

#main-nav .more-nav-link ul li {
  width: 100%;
}

#main-nav .more-nav-link ul li a {
  padding: 24px;
}

#main-nav .more-nav-link ul li a:hover {
  background-color: var(--dark-hover-1);
}

@media screen and (max-width: 1180px) {
  #main-nav .more-nav-link {
    display: flex;
  }

  #main-nav ul li:nth-child(8), 
  #main-nav ul li:nth-child(9) {
    display: none;
  }

  #main-nav .more-nav-link ul li:nth-child(1), 
  #main-nav .more-nav-link ul li:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  #main-nav ul li:nth-child(6),
   #main-nav ul li:nth-child(7) {
    display: none;
  }

  #main-nav .more-nav-link ul li:nth-child(1), 
  #main-nav .more-nav-link ul li:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 780px) {
  #main-nav .check-button {
    display: block;
  }

  #main-nav .more-nav-link {
    display: none;
  }

  #main-nav ul li:nth-child(6), 
  #main-nav ul li:nth-child(7),
  #main-nav ul li:nth-child(8),
  #main-nav ul li:nth-child(9) {
    display: block;
  }
}


/* _____________________________________________________ */

@media screen and (max-width: 1180px) {
  #main-nav .more-nav-link {
    display: flex;
  }

  #main-nav ul li:nth-child(8), 
  #main-nav ul li:nth-child(9) {
    display: none;
  }

  #main-nav .more-nav-link ul li:nth-child(1), 
  #main-nav .more-nav-link ul li:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  #main-nav ul li:nth-child(6),
   #main-nav ul li:nth-child(7) {
    display: none;
  }

  #main-nav .more-nav-link ul li:nth-child(1), 
  #main-nav .more-nav-link ul li:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 780px) {
  #main-nav .check-button {
    display: block;
  }

  #main-nav .more-nav-link {
    display: none;
  }

  #main-nav ul li:nth-child(6), 
  #main-nav ul li:nth-child(7),
  #main-nav ul li:nth-child(8),
  #main-nav ul li:nth-child(9) {
    display: block;
  }
}